{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="title card-title">
                    {% if total_years %} {{ total_years }} academic year found
                    {% else %} No active academic year was found
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-border table-hover">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <a href="#">{{ academic_year.name }}</a>
                        </td>
                        <td>{% if academic_year.status == 'pending' %}
                                <span class="badge bg-warning">{{ academic_year.status }}</span>
                            {% elif academic_year.status == "ended" %}
                                <span class="badge bg-danger">{{ academic_year.status }}</span>
                            {% elif academic_year.status == 'active' %}
                                <span class="badge bg-primary">{{ academic_year.status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#modal-teacher" data-toggle="modal" data-link="{{ teacher.pk }}" class="btn btn-primary btn-sm js-view-teacher">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#modal-teacher" data-toggle="modal" data-link="{{ teacher.pk }}" class="btn btn-warning btn-sm js-update-teacher">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#modal-delete" data-toggle="modal" data-link="{{ teacher.pk }}" class="btn btn-danger btn-sm js-delete-teacher">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="title card-title"> {{ total_marking_period }} Semesters  found </h3>
                <div class="float-right">
                    <a class="btn btn-primary js-add-semester" data-toggle="modal" href="#add-semester">
                        <font color="white">
                            <i class="fas fa-plus"></i>
                            Add Semester
                        </font>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-border table-hover">
                    <thead>
                    <tr>
                        <th>Semester</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in marking_period %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>
                            {% if data.status == 'pending' %}
                                <span class="badge bg-warning">{{ data.status }}</span>
                            {% elif data.status == "ended" %}
                                <span class="badge bg-danger">{{ data.status }}</span>
                            {% elif data.status == 'active' %}
                                <span class="badge bg-primary">{{ data.status }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#modal-teacher" data-toggle="modal" data-link="{{ teacher.pk }}" class="btn btn-primary btn-sm js-view-teacher">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#modal-teacher" data-toggle="modal" data-link="{{ teacher.pk }}" class="btn btn-warning btn-sm js-update-teacher">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#modal-delete" data-toggle="modal" data-link="{{ teacher.pk }}" class="btn btn-danger btn-sm js-delete-teacher">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-semester">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $('.js-add-semester').click(function(){
        $.ajax({
            url: "{% url 'schedule:add_marking_period' %}",
            dataType: 'json',
            success: function(data){
                 $("#add-semester .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $("#add-semester").on("submit", '.js-marking-period-form', function(){
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data){
                 setTimeout(function() {
                        alert(data.message);
                       window.location.reload();

                  },4);
            },
            error: function(data){
                setTimeout(function() {
                        alert(data.message);
                       window.location.reload();

                  },4);
            }
        });

        return false;

    });
</script>
{% endblock %}