<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ formset.media }}

    <style type="text/css">
        th {
            text-align: center;
        }
        td {
            padding: 0px;
            margin: 0px;
        }
        select[disabled] {
            color: black;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.student_select').attr('disabled', 'disabled');

            {% if readonly %}
                $(".status").attr('disabled', 'disabled');
            {% endif %}
        })

        function set_to_present() {
	    // Select by ID or word "Present". word takes preference
	    $('.status option[value="2"]').attr("selected", "selected");
	    $('.status option:contains("Present")').attr("selected", "selected");
        }
    </script>
	<h2> Daily Attendance </h2>
    <form method="post" action="" id="myform">
        {% csrf_token %}
       {{ formset.management_form }}
       {{ formset.non_form_errors }}
	   {{ msg|safe }}
       <div class='table'>
            <table>
                <thead>
                 <tr>
                    <th>Student</th>
                    <th>Attendance</th>
                    <th>Note</th>
                 </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
			    <td style="vertical-align:middle;" class="student"> {{ student.form.non_field_errors }}
                    {{ student.form.student_display }} {{ student.form.student }} </td>
			    <td> {{ student.form.status }} {{ student.form.status.errors }} {{ student.form.date }} </td>
			    <td> {{ student.form.notes }} {{ student.form.notes.errors }} {{ student.form.enroll_note }}
			    {% for hid in student.form.hidden_fields %} {{hid}}{% endfor %}
			    </td>
                        {{ student.student_id.admission_number }}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <input type="submit" onclick="$('.student_select').removeAttr('disabled');" value="Submit"/>
        <span><br/>
        Tip: You can enter attendance by just pressing A for Absent, P for Present, etc</span>
    </form>
    <script type="text/javascript">
        document.getElementById("id_form-0-status" ).focus();
    </script>
</body>
</html>