<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script
			  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			  crossorigin="anonymous"></script>
<form class="form" method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id='periodTB' class="no_error table table-striped tablesorter table-border table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Short Name</th>
                            <th>Sort Oder</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Used For Attendance</th>
                            <th>Ignore For Scheduling</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ period_form.management_form }}
                        {% for form in period_form.forms %}
                        <tr class="table">
                            <td>
                                <div class="input-group-append">

                                </div>
                            </td>
                            <td>{{ form.name }}</td>
                            <td>{{ form.short_name }}</td>
                            <td>{{ form.sort_order }}</td>
                            <td>{{ form.start_time }}</td>
                            <td>{{ form.end_time }}</td>
                            <td>{{ form.used_for_attendance }}</td>
                            <td>{{ form.ignore_for_scheduling }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="card-footer">

            <div class="float-right">
                <button type="submit"  class="btn btn-block btn-primary">Create</button>
            </div>

        </div>
    </form>
<input type="button" value="Add More" id="add_more">
<script>
    $('#add_more').click(function() {
        cloneMore('tr.table:last', 'form');
    });

    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }
</script>
</body>
</html>