{% load crispy_forms_tags %}
<form  method="post" action="{% url 'academic:edit_classroom' slug=class_room.pk %}" class="js-class-registration">
    {% csrf_token %}
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     </div>
    <div class="modal-body">
        <div class="card card-primary">
            <div class="card-header">
                <h4 class="card-title">
                    <font color="white">
                        <i class="fas fa-edit"></i>
                        Edit Class
                    </font>
                </h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{ class_form.name|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ class_form.stream_id|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ class_form.class_teacher|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ class_form.capacity|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ class_form.occupied_sits|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="SUBMIT" class="btn btn-primary">
    </div>
</form>
