{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header" style="background-color:#007bff">
         <h3 class="card-title title">
            <font color="white">
                <i class="fas fa-question-circle"></i>
                    Stream Management
            </font>
        </h3>
        <div class="float-right">
            <a href="#modal-stream" class="btn btn-primary js-add-stream"  data-toggle="modal">
                <font color="white">
                    <i class="fas fa-user-plus"></i>
                    Add Stream
                </font>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="example" class="table table-striped ">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th >Available Action</th>
            </tr>
            </thead>
            <tbody>
            {% for class_stream in streams %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ class_stream}}</td>
                    <td>
                        <a href="#modal-stream" data-toggle="modal" data-link="{{ class_stream.pk }}" class="btn btn-warning btn-sm js-update-stream">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#modal-stream" data-toggle="modal" data-link="{{ class_stream.pk }}" class="btn btn-danger btn-sm js-delete-stream">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-stream">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    $('.js-add-stream').click(function(){
        $.ajax({
            url: '{% url 'academic:add_stream' %}',
            dataType: 'json',
            success: function(data){
                 $("#modal-stream .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $('.js-update-stream').click(function(){
        var user_id;
        user_id = $(this).attr("data-link");
        $.ajax({
            url: '{% url 'academic:edit_stream' slug=1 %}',
            dataType: 'json',
            data: {
                 post_id: user_id
            },
            success: function(data){
                 $("#modal-stream .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $("#modal-add-class").on("submit", 'js-stream-registration', function(){
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data){
                 $("#modal-stream .modal-content").html(data.html_form);
            }
        });
        return false;
    });
</script>
{% endblock %}