{% extends 'base.html' %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title title">
            <span style="color: white; ">
                <i class="fas fa-question-circle"></i>
                    Subjects Offered
            </span>
        </h3>
        <div class="float-right">
            <a href="#modal-add-subject" class="btn btn-primary js-add-subject"  data-toggle="modal">
                <span color="white">
                    <i class="fas fa-user-plus"></i>
                    Add Subject
                </span>
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-border">
            <thead>
            <tr>
                <th>#</th>
                <th>Subject Name</th>
                <th>Subject Code</th>
                <th>Selectable</th>
                <th>Department</th>
                <th>Available Action</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ subject }}</td>
                    <td>{{ subject.subject_code }}</td>
                    <td>{{ subject.is_selectable }}</td>
                    <td>{{subject.department}}</td>
                    <td>
                        <a href="#modal-add-subject" data-toggle="modal" data-link="{{ subject.pk }}" class="btn btn-warning btn-sm js-update-subject">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#modal-add-subject" data-toggle="modal" data-link="{{ subject.pk }}" class="btn btn-danger btn-sm js-delete-subject">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-subject">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    $('.js-add-subject').click(function(){
        $.ajax({
            url: "{% url 'academic:add_subject' %}",
            dataType: 'json',
            success: function(data){
                 $("#modal-add-subject .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $('.js-update-subject').click(function(){
        var user_id;
        user_id = $(this).attr("data-link");
        $.ajax({
            url: "{% url 'academic:edit_subject' slug=1 %}",
            dataType: 'json',
            data: {
                 post_id: user_id
            },
            success: function(data){
                 $("#modal-add-subject .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $("#modal-add-subject").on("submit", 'js-subject-registration', function(){
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data){
                 $("#modal-add-subject .modal-content").html(data.html_form);
            }
        });
        return false;
    });
</script>
{% endblock extra_scripts %}