{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 m-0 mb-0">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="title card-title">
                    <i class="fas fa-table"></i>
                    Manage School Timetables
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h4 class="align-content-center">Create New Template</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">Go <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-secondary">
                            <div class="inner">
                                <h4 class="align-content-center">Available Tables</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">Go <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h4 class="align-content-center">Available Templates</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">Go <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row" style="scroll-padding-top: 10px">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4 class="title card-title">
                                    <i  class="fas fa-question-circle">
                                    </i>
                                    Current Timetable
                                </h4>
                                <div class="float-right">
                                    <i class="fa fa-plus"></i>
                                    <a class="btn btn-primary" href="#">Add Table</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover">
                                            <colgroup span="2"></colgroup>
                                            <colgroup span="2"></colgroup>
                                            <tr>
                                                <td rowspan="2"></td>
                                            </tr>
                                            <tr>
                                                {% for period in school_periods %}
                                                    <th scope="col">{{period}} </th>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <th scope="row">Monday</th>
                                                {% for period in school_periods %}
                                                    <td><label>
                                                        <input type="text">
                                                    </label></td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}

{% endblock extra_scripts %}