{% extends "base_bootstrap.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
  <h1>Assignments</h1>
<table>
  <tr><th>Section:</th> <td>
      <span data-tooltip class="has-tip" title="Return to the section summary.">
	<a href="{% url 'grades:section' section.id %}">{{section.number}}</a>
      </span>
  </td></tr>
  <tr><th>Class:  </th> <td>{{section.course}}</td></tr>
  <tr><th>Semester:</th> <td>{{section.semester}}</td></tr>
</table>
{% if assignments %}
<table class="table table-striped table-condensed">
  <tr>
    <th><span data-tooltip class="has-tip" title="Click the assignment name to edit the assignment scores.">Name</span></th>
    <th>Type</th>
    <th>Max Possible Score</th>
    <th>Date assigned</th>
    <th>Date due</th>
    <th>A Cutoff</th>
    <th>B Cutoff</th>
    <th>C Cutoff</th>
    <th>D Cutoff</th>
  </tr>
  <br/>
  {% for assignment in assignments %}
  <tr>
    <td><a href="{% url 'grades:assignment' section.id assignment.id %}">{{assignment.name}}</a></td>
    <td>{{assignment.assignment_type}}</td>
    <td>{{assignment.max_value}}</td>
    <td>{{assignment.assign_date}}</td>
    <td>{{assignment.due_date}}</td>
    <td>{{assignment.a_cutoff}}</td>
    <td>{{assignment.b_cutoff}}</td>
    <td>{{assignment.c_cutoff}}</td>
    <td>{{assignment.d_cutoff}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
    <p>No assignments are available.</p>
{% endif %}

    <a href="{% url 'admin:index' %}grades/assignment/add/?section={{section.id}}">Add a new assignment</a>

{% endblock %}

{% block local_sidebar %}
<li>
  <a href="{% url 'grades:section' section.id %}">Section {{section.number}}</a>
  <ul class="nav nav-pills nav-stacked well well-sm">
    <li><a href="{% url 'grades:roster' section.id %}">View Section Roster</a></li>
    <li class="active"><a href="#">View Section Assignments</a></li>
    <li><a href="{% url 'grades:hw_entry' section.id %}">Enter Homework Assignments</a></li>
    <li><a href="{% url 'grades:view_scores' section.id %}">View All Scores</a></li>
  </ul>
</li>
{% endblock %}
