{% extends 'base.html' %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h1 class="card-title title" >
            <i class="fas fa-question-circle"></i>
            Exam Management
        </h1>
        <div class="float-right">
            <a href="#modal-add-exam" class="btn btn-primary js-add-exam"  data-toggle="modal">
                <i class="fas fa-plus"></i>
                Add Exam
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead >
                    <tr>
                        <th>Exam Name</th>
                        <th>Starts On</th>
                        <th>Ends On</th>
                        <th>status</th>
                        <th>Comment</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam in exam_list %}
                    <tr>
                        <td>{{ exam }}</td>
                        <td>{{ exam.start_on_date  }}</td>
                        <td>{{ exam.ends_on_date }}</td>
                        <td>{{ exam.status }}</td>
                        <td>{{ exam.comments }}</td>
                        <td>
                            <div class="option-btn">
                                <a href="#modal-add-exam" data-link="{{ exam.pk }}" class="btn btn-warning btn-sm js-edit-exam"  data-toggle="modal">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#modal-add-exam" class="btn btn-danger btn-sm js-delete-exam"  data-toggle="modal">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-exam">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    $('.js-add-exam').click(function(){
        $.ajax({
            url: '{% url 'academic:add_exam' %}',
            dataType: 'json',
            success: function(data){
                 $("#modal-add-exam .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $("#modal-add-exam").on("submit", 'js-exam-registration', function(){
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data){
                 $("#modal-add-exam .modal-content").html(data.html_form);
            }
        });
        return false;
    });
</script>
<script>
    $('.js-edit-exam').click(function(){
        var user_id;
        user_id = $(this).attr("data-link");
        $.ajax({
            url: '{% url 'academic:edit_exam' slug=1 %}',
            dataType: 'json',
            data: {
                 post_id: user_id
            },
            success: function(data){
                 $("#modal-add-exam .modal-content").html(data.html_form);
            }
        });
    });
</script>
{% endblock extra_scripts %}