{% load crispy_forms_tags %}
<form  method="post" action="{% url 'admissions:student_edit' slug=student.pk %}" class="js-student-update-info">
    {% csrf_token %}
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header"  style="background-color:#007bff">
                <h4 class="card-title">
                    <font color="white">
                        <i class="fas fa-edit"></i>
                        Edit Student
                    </font>
                </h4>
            </div>
            <div class="card-body">
                <div class="form-group col-12 mb-0">
                    <ul class="stepper">
                        <li class="step active">
                            <div data-step-label="Students_details" class="step-title waves-effect waves-dark">Step 1: (Students Details )</div>
                            <div class="step-new-content">
                                <div class="row">
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <div class="form-row">
                                                <div class="form-group col-4 ">
                                                {{ student_form.first_name|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-4 mb-0">
                                                    {{ student_form.middle_name|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-4 mb-0">
                                                    {{ student_form.last_name|as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-4 mb-0">
                                                    {{ student_form.gender|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-4 mb-0">
                                                    {{ student_form.date_of_birth|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-4 mb-0">
                                                    {{ student_form.image|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-actions">
                                    <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>
                                </div>
                            </div>
                        </li>
                        <li class="step active">
                            <div data-step-label="Parents_details" class="step-title waves-effect waves-dark">Step 2: (Parents Details )</div>
                            <div class="step-new-content">
                                <div class="row">
                                    <div class="form-row">
                                        <div class="form-group col-md-4 mb-0">
                                             {{ parent_form.first_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.middle_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.last_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.nationality|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.national_id|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.parent_type|as_crispy_field }}
                                        </div>
                                         <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.address |as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.email|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4 mb-0">
                                            {{ parent_form.phone_number|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input type="submit" value="SUBMIT" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>