{% extends 'base.html' %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title title">
            <i class="fas fa-question-circle"></i>
            Class Subjects
        </h3>
        <div class="float-right">
            <a href="#modal-add-subject" class="btn btn-primary js-add-subject"  data-toggle="modal">
                <i class="fas fa-user-plus"></i>
                Add Subject
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
               <div class="form-group">
                   <select class="form-control select2" id="class-subject">
                       {% for classroom in classrooms %}
                        <option value="{{ classroom.pk }}">{{ classroom }}</option>
                       {% endfor %}
                  </select>
               </div>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary js-get-subject">
                    <font color="white">
                        <i class="far fa-calendar-check"></i>
                        Get Class Subject
                    </font>
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="padding-top:20px;">
            <div class="col-md-12">
                <div class="card" id="subject-view">
                    <div class="card-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="modal-add-subject">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    $('.js-get-subject').click(function(){
        var user_id;
        user_id = $('#class-subject :selected').val();
        $.ajax({
            url: '{% url 'academic:get_subjects' %}',
            dataType: 'json',
            data: {
                 post_id: user_id
            },
            success: function(data){
                 $("#subject-view .card-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $('.js-add-subject').click(function(){
        var class_id;
        class_id = $('#class-subject :selected').val();
        $.ajax({
            url: '{% url 'academic:add_class_subject' slug=1 %}',
            dataType: 'json',
            data: {
                post_id: class_id
            },
            success: function(data){
                 $("#modal-add-subject .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $('.js-update-subject').click(function(){
        var user_id;
        user_id = $(this).attr("data-link");
        $.ajax({
            url: '{% url 'academic:edit_class_subject' slug=1 %}',
            dataType: 'json',
            data: {
                 post_id: user_id
            },
            success: function(data){
                 $("#modal-add-subject .modal-content").html(data.html_form);
            }
        });
    });
</script>
<script>
    $("#modal-add-subject").on("submit", 'js-class-subject-registration', function(){
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data){
                 $("#modal-add-subject .modal-content").html(data.html_form);
            }
        });
        return false;
    });
</script>
{% endblock extra_scripts %}