{% load crispy_forms_tags %}
<form  method="post" action="{% url 'academic:edit_stream' slug=stream.pk %}" class="js-stream-registration">
    {% csrf_token %}
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header"  style="background-color:#007bff">
                <h4 class="card-title">
                    <font color="white">
                        <i class="fas fa-school"></i>
                        Edit Stream
                    </font>
                </h4>
            </div>
            <div class="card-body">
               <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ class_form.name|as_crispy_field }}
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="float-right">
            <input type="submit" value="SUBMIT" class="btn btn-primary">
        </div>
    </div>
</form>