{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock %}
{% block page_header %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="{% url 'admissions:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Dashboard v1</a></li>
    </ol>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form  method="post" action="{% url 'admissions:student_admission' %}" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="form-group col-12 mb-0">
                            <ul class="stepper">
                                <li class="step active">
                                    <div data-step-label="Students_details" class="step-title waves-effect waves-dark">Step 1: (Students Details )</div>
                                    <div class="step-new-content">
                                        <div class="row">
                                            <div class="form-row">
                                                <div class="form-group col-12">
                                                    <div class="form-row">
                                                        <div class="form-group col-4 ">
                                                        {{ student_form.first_name|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-4 mb-0">
                                                            {{ student_form.middle_name|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-4 mb-0">
                                                            {{ student_form.last_name|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-4 mb-0">
                                                            {{ student_form.gender|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-4 mb-0">
                                                            {{ student_form.date_of_birth|as_crispy_field }}
                                                        </div>
                                                        <div class="form-group col-4 mb-0">
                                                            {{ student_form.image|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step active">
                                    <div data-step-label="Parents_details" class="step-title waves-effect waves-dark">Step 2: (Parents Details )</div>
                                    <div class="step-new-content">
                                        <div class="row">
                                            <div class="form-row">
                                                <div class="form-group col-md-4 mb-0">
                                                     {{ parent_form.first_name|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.middle_name|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.last_name|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.nationality|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.national_id|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.parent_type|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>
                                            <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">BACK</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step active">
                                    <div data-step-label="Address_details" class="step-title waves-effect waves-dark">Step 3: (Address)</div>
                                    <div class="step-new-content">
                                        <div class="row">
                                            <div class="form-row">
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.address|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.email|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-md-4 mb-0">
                                                    {{ parent_form.phone_number|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn btn-sm btn-primary next-step">CONTINUE</button>
                                            <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">BACK</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step active">
                                    <div data-step-label="Admission" class="step-title waves-effect waves-dark">Step 4: (Admission)</div>
                                    <div class="step-new-content">
                                        <div class="row">
                                            <div class="form-row">
                                                <div class="form-group col-md-12 mb-0">
                                                    <h4 class="title text-center">Select Class</h4>
                                                    {{ class_selector_form }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="step-actions">
                                            <input type="submit" class="btn btn-primary" value="Save and add another" name="save and add another">
                                            <input type="submit" class="btn btn-primary" value="Save and continue editing" name="save and edit">
                                            <input type="submit" value="Save" class="btn btn-primary" name="save">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="javascript">
    $(document).ready(function () {
        $('.stepper').mdbStepper();
    })
</script>
{% endblock %}
