<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
 </div>
<div class="modal-body">
    <div class="card">
        <div class="card-header">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="img-hover">
                        <img class="img-circle rounded-circle img-responsive img-thumbnail  "
                             src="/media/{{ teacher.image }}"
                             alt="User profile picture">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="container">
                        <p class="h1 text-center" style="padding-top:25%;">{{ teacher }}</p>
                        <p class="h2 text-center" >Phone:{{ teacher.phone_number }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table  class="table table-bordered table-striped col-md-12">
                <tr>
                    <th>Teacher Id</th>
                    <td>{{ teacher.teacher_id }}</td>
                    <th>Email</th>
                    <td>{{ teacher.email }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>
                        <font color="blue">
                        {{ teacher.gender }}
                        </font>
                    </td>
                    <th>Designation</th>
                    <td>
                        {{ teacher.designation }}
                    </td>
                </tr>
                <tr>
                    <th>D.O.B</th>
                    <td>{{ teacher.date_of_birth }}</td>
                    <th>Phone</th>
                    <td>{{ teacher.phone_number }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ teacher.address }}</td>
                    <th>Subjects</th>
                    <td>{% for subjects in teacher.subject_teaching.all  %} {{ subjects }}, {% endfor %}</td>
                </tr>
            </table>
        </div>
</div>
<div class="modal-footer">

</div>
