{% extends 'base.html' %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title title">
            <i class="fas fa-calendar"></i>
            Attendance Management
        </h3>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 class="text-center text-fluid">Attendance For Class</h3>
                                <h4 class="text-center">{{ class_id }}</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                     <div class="col-md-12 d-flex justify-content-center">
                         <a class="btn btn-primary" href="#">
                             <i class="fas fa-check">
                             </i>
                             Mark all Present
                         </a>
                         <a class="btn btn-danger" href="#">
                             <i class="fas fa-times"></i>
                             Mark all Absent
                         </a>
                         <a class="btn btn-warning" href="#">
                             <i class="fas fa-plane"></i>
                             Mark  Holiday
                         </a>
                     </div>
                    <div class="col-md-12">
                        <form method="post">
                            {% csrf_token %}
                            <table id="example" class="table table-striped sampleTbl">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Admission Number</th>
                                    <th>Students Name</th>
                                    <th>status</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data_obj in students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data_obj.student_id.admission_number  }}</td>
                                        <td>{{ data_obj }}</td>
                                        <td>{{ attendance_form.status }}</td>
                                        <td>{{ attendance_form.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="form-group d-flex justify-content-center">
                                <input class="btn btn-success" id="submit_btn" type="submit" value="Mark Attendance">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
{% endblock extra_scripts %}