{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title title">
            <i class="fas fa-calendar"></i>
            Attendance Management
        </h3>
    </div>
    <div class="card-body">
         <form class="select-class" method="post" action="#">
             {% csrf_token %}
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ class_form.class_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <input type="text" id="datepicker" placeholder="Select Date " name="attendance_date" required="True">
                        </div>
                    </div>
                </div>
                <div class="com-md-6 mb-0">
                    <div class="form-group com-md-4 mb-0">
                        <input type="submit" class="btn btn-primary" value="GET Class Attendance">
                    </div>
                </div>
            </div>
         </form>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
    $( function() {
        $( "#datepicker" ).datepicker();
    });
</script>
{% endblock %}