<div class="card-header">
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="small-box bg-info col-md-6">
                <div class="inner">
                    <h3>Attendance For</h3>
                    <h4 class="text-center">{{ class_name }}</h4>
                </div>
                <div class="icon">
                    <i class="far fa-calendar-alt"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body" id="attendance_form_sheet">
    <div class="row">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="present" style="padding-right: 5px;" >
                <a class="btn btn-primary" href="#">
                    Mark All Present
                </a>
            </div>
            <div class="absent" style="padding-right: 5px;">
                <a class="btn btn-danger" href="#" >
                    Mark All Absent
                </a>
            </div>
            <div class="travel">
                <a class="btn btn-warning" href="#">
                    Mark All Holiday
                </a>
            </div>
        </div>
    </div>
    <form class="js-mark-attendance" method="post"  action="{% url 'attendance:student_attendance_register' %}?class_id={{ class_name.id }}" style="padding-top:5px;">
        {% csrf_token %}
       {{ formset.management_form }}
       {{ formset.non_form_errors }}
	   {{ msg|safe }}
        <table class="table-striped table table-bordered" id="Student_attendance_table">
            <thead>
            <tr>
                <th>#</th>
                <th>Admission Number</th>
                <th>Name</th>
                <th>Status</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.student_id.admission_number }}</td>
                    <td style="vertical-align:middle;" class="student"> {{ student.form.non_field_errors }}
                        {{ student.form.student_display }} {{ student.form.student.as_hidden }} </td>
                    <td> {{ student.form.status }} {{ student.form.status.errors }} {{ student.form.attendance_date.as_hidden }} </td>
                   <td> {{ student.form.notes }} {{ student.form.notes.errors }} {{ student.form.enroll_note }}
                        {% for hid in student.form.hidden_fields %} {{hid}}{% endfor %}
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <input type="submit" value="Mark Attendance" class="btn btn-success">
            </div>
        </div>
    </form>
</div>

<script>
    $("#attendance_form_sheet").on("submit", '.js-mark-attendance', function(){
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function(data){
                 alert(data.message);
            },
            error: function(data){
                alert(data.message);
            }
        });
        return false;
    });
</script>